.header {
    position: fixed;
    z-index: 1;
    width: 100vw
}

.react-rotating-text-cursor {
    animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@heading-size: 5rem;

.intro-heading {
    font-size: @heading-size * 1;
}

.intro-rotating-text {
    font-size: @heading-size / 2;
}

.button {
    z-index: 1;
    position: relative;
    font-size: inherit;
    font-family: inherit;
    color: white;
    //padding: 0.5em 1em;
    outline: none;
    border: none;
    //background-color: hsl(236, 32%, 26%);
    overflow: hidden;
    transition: color 0.4s ease-in-out;
}

.button::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: #31c1ce;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.35s ease-in-out;
}

.button:hover {
    cursor: pointer;
    color: #161616;
}

.button:hover::before {
    transform: translate(-50%, -50%) scale(15);
}

.footer {
    text-align: center;
    text-anchor: end;
    bottom: 0;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.vertical-center {
        align-items: center;
        display: flex;
        justify-content: center;
}

.button-email {
    color: white;
}


.fill {
    position: relative;
    z-index: 1;
}

@fill-bg-colour: hsla(341, 97%, 59%, 0.75);
@fill-bg-colour: lightblue;

.fill::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -0.25em;
    bottom: 0;
    left: -0.1em;
    right: -0.15em;
    background-color: @fill-bg-colour;
    transform-origin: bottom center;
    transition: all 0.1s ease-in-out;
}


.fill-up::before {
    transform: scaleY(-0.1);
}

.fill-down::before {
    transform: scaleY(0.1);
}

.fill-up:hover::before {
    transform: scaleY(1);
    background-color: @fill-bg-colour;
}

.fill-down:hover::before {
    transform: scaleY(1);
    background-color: @fill-bg-colour;
}

.bar::before,
.bar::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #fc2f70;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.bar::before {
    top: 0;
    transform-origin: center right;
}

.bar:hover::before {
    transform-origin: center left;
    transform: scaleX(1);
}

.bar::after {
    bottom: 0;
    transform-origin: center left;
}

.bar:hover::after {
    transform-origin: center right;
    transform: scaleX(1);
}

a {
    position: relative;
    z-index: 2;
}

